@charset "utf-8";
/* CSS Document */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fdfdfd;
}

td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.main-title {
  padding: 26px 0;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 14px 0 16px;
  background-color: #eee;
  width: 100%;
  border-bottom: 1px solid #b8b8b8;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: fit-content;
  background-color: #252831;
  align-items: center;
  text-align: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  padding-top: 10px;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-options select option {
  height: inherit;
  margin: inherit;
  padding: inherit;
}

#neighborhoods-select,
#cuisines-select {
  cursor: pointer;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 15px 60px;
  text-align: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  justify-content: space-around;
}

#restaurants-list li {
  width: 270px;
  margin: 15px auto;
  min-height: 380px;
  text-align: left;
  padding: 25px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;

  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  color: #fff;
  font-size: 10pt;
  margin: 15px 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px 10px;
  text-transform: uppercase;
  background-color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#restaurants-list li a:hover {
  border: 1px solid orange;
  color: black;
  background-color: white;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

.inside #footer {
  width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#restaurant-container {
  padding: 15px 0 30px;
  border-top: 50px solid #252831;
}

#reviews-container {
  padding: 30px 0 30px;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  width: 100%;
  font-weight: 200;
  letter-spacing: 0;
  text-align: center;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#img-and-cusine,
#adr-hrs {
  width: 50%;
  margin: auto;
}

#restaurant-img {
  width: 75%;
  margin: 0 12.5%;
  text-align: center;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#restaurant-address {
  width: 100%;
  text-align: center;
  font-size: 12pt;
  margin-bottom: 25px;
  margin-top: 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
  width: 100%;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 100%;
  justify-content: space-between;
}

#reviews-list li {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex: 25%;
  overflow: hidden;
  margin: 15px;
  list-style-type: none;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reviews-list li p {
  margin: 10px 20px;
  padding: 0;
}

#reviews-list li p:nth-child(1) {
  margin: 0;
  width: 50px;
  height: 25px;
  color: white;
  background-color: #333;
  padding: 15px 0 15px 20px;
}

#reviews-list li p:nth-child(2) {
  margin: 0;
  height: 25px;
  width: 75px;
  flex: 50%;
  text-align: right;
  background-color: #333;
  color: rgb(206, 206, 206);
  padding: 15px 20px 15px 0px;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

#reviews-list li p:nth-child(3) {
  color: white;
  height: 20px;
  font-weight: 600;
  padding: 2px 12px;
  text-align: center;
  letter-spacing: 1.3px;
  border-radius: 5px;
  background-color: orange;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#restaurant-hours {
  margin: auto;
  width: 50%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

#restaurant-hours td {
  color: #666;
  vertical-align: top;
}

#restaurant-hours tr td:nth-child(2) {
  text-align: right;
}

/*========== mobiles ==========*/
@media only screen and (min-width:360px) and (max-width:640px) {

  p {
    line-height: 2;
  }

  /* ========== main page ========== */
  nav {
    width: 100%;
    height: auto;
    background-color: #252831;
    text-align: center;
  }

  .main-title {
    padding: 45px;
  }

  .filter-options {
    padding: 10px 0px;
  }

  .filter-options h2 {
    padding-bottom: 10px;
  }

  /* ========== review page ========== */

  #img-and-cusine,
  #adr-hrs {
    width: 100%
  }

  #restaurant-name {
    margin: 30px 0;
  }

  #restaurant-address {
    text-align: center;
    padding-top: 20px;
  }

  #restaurant-hours {
    width: 75%;
  }

  #reviews-container h2 {
    margin-bottom: 15px;
  }

  #restaurants-list li a:hover {
    border: none;
    color: white;
    background-color: orange;
  }

  #reviews-list li {
    flex: 100%;
    height: auto;
  }

  #reviews-list li p:nth-child(1) {
    margin: 0;
    flex: 5%;
    font-size: 1.2em;
    color: white;
    padding: 15px 0 15px 20px;
    background-color: #333;
  }

  #reviews-list li p:nth-child(3) {
    height: 25px;
  }

  .inside header {
    position: unset;
  }

  .inside #map-container {
    height: 400px;
    width: 100%;
    position: unset;
  }

  .inside #footer {
    position: unset;
    width: 95%;
  }

  #footer {
    padding: 25px 10px;
  }
}

@media only screen and (min-width:768px) and (max-width: 992px) {

  #reviews-list li p:nth-child(2) {
    max-width: 136px;
    flex: 45%;
  }

  #restaurants-list li a:hover {
    border: none;
    color: white;
    background-color: orange;
  }

  #restaurant-hours {
    width: 65%;
  }
}